@charset "UTF-8";
.hover-text {
  position: relative;
  max-width: 100%;
  padding-top: 80px;
}
@media (max-width: 600px) {
  .hover-text {
    padding-top: 0;
  }
}

@media (min-width: 1025px) and (hover: hover) {
  .customScroll {
    position: absolute;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    top: -40%;
    left: -13%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 1;
    height: 180%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 80%);
    -webkit-filter: blur(80px);
            filter: blur(80px); /* Чуть меньше blur, чтобы не было слишком размыто */
    opacity: 0.15; /* Слегка уменьшим базовую видимость */
    mix-blend-mode: soft-light;
  }
}