.agency {
  @media (min-width: 841px) {
    margin-bottom: 100px;
  }
  &__inner-top {
    padding: 100px 0 336px;

    background-image: url("./../images/background/agency/agency-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section-title {
      &__part-2 {
        max-width: 1080px;
      }
    }
    #visible-pc {
      display: inline;
    }
    #visible-mobile {
      display: none;
    }

    // background
    @media (max-width: 1440px) {
      background-size: 100% 100%;
    }
    @media (max-width: 1024px) {
      background-image: none;
    }
    @media (max-width: 840px) {
      background-image: url("./../images/background/agency/agency-bg-tablet-1.png");
      padding: 100px 0 269px;

      #visible-pc {
        display: none;
      }
      #visible-mobile {
        display: inline;
      }
    }
    @media (max-width: 767px) {
      background-image: url("./../images/background/agency/agency-bg-mobile-1.png");
      padding: 80px 0 432px;
    }
  }
  &__content-text {
    width: 440px;

    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -1.5%;

    margin-top: 80px;

    p {
      display: inline;
    }
    @media (max-width: 1180px) {
      width: 300px;
    }
    @media (max-width: 840px) {
      max-width: 493px;
      width: 100%;

      margin-left: $margin-left-840;
      p {
        display: block;

        &:not(:last-child) {
          margin-bottom: 26px;
        }
      }
    }
    @media (max-width: 767px) {
      margin-left: 0;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      margin-top: 40px;

      p {
        &:not(:last-child) {
          margin-bottom: 20.8px;
        }
      }
    }
  }

  //   bottom

  &__inner-bottom {
    margin-top: -466px;
    @media (max-width: 1180px) {
      margin-top: -545px;
    }
    @media (max-width: 840px) {
      background-image: url("./../images/background/agency/agency-bg-tablet-2.png");

      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      margin-top: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: end;
    @media (max-width: 840px) {
      transform: translateY(-149px);

      display: block;

      margin-left: $margin-left-840;
    }

    @media (max-width: 767px) {
      transform: translateY(0);
      padding-top: 32px;
      padding-bottom: 80px;
      margin-top: -352px;
      margin-left: 0;
    }
  }
}

.agency-accordion {
  &__item {
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 785px;

    height: 340px;
    padding: 32px 20px;

    background-color: #fff;

    box-shadow: 4px -15px 34px 0px #b3b3b31a, 15px -60px 62px 0px #b3b3b317,
      34px -135px 84px 0px #b3b3b30d, 60px -241px 99px 0px #b3b3b303,
      94px -376px 109px 0px #b3b3b300;

    &:first-child {
      box-shadow: none;
    }

    border-radius: 8px;

    overflow: hidden;
    height: 120px;

    transition: height 0.2s linear;

    will-change: height;

    &._active {
      height: 340px;
    }
    &._active .agency-accordion__item-text {
      animation: openAccordion 0.2s ease-in-out forwards;
    }

    &._active {
      .agency-accordion__item-buttom {
        opacity: 1;
      }
    }
    @media (max-width: 1440px) {
      width: 54.51vw;
    }

    @media (max-width: 840px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 600px) {
      height: 80px;

      &:last-child {
        height: 105px;
      }

      &._active {
        height: 260px;
      }
    }
  }

  &__item-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__item-number {
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -2%;

    opacity: 15%;

    @media (max-width: 600px) {
      font-size: 60px;
    }
  }

  &__item-buttom {
    cursor: pointer;

    width: 24px;
    height: 24px;

    background-color: $black;

    border-radius: 50%;

    opacity: 10%;

    transition: 0.2s ease-in-out;
  }

  &__item-text {
    vertical-align: bottom;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -2%;
    opacity: 0;

    #color-blue {
      color: $blue;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}

@keyframes openAccordion {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
