.header {
  position: relative;
  z-index: 60;
  width: 100%;

  &._fixed {
    position: fixed;

    top: 0;
    left: 0;

    background: rgba($color: $white-bg, $alpha: 0.5);

    backdrop-filter: blur(10px); /* Размытие фона за элементом */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта глубины */
  }

  &__inner {
    display: flex;
    align-items: start;

    width: 100%;

    padding-top: 32px;

    @media (max-width: 840px) {
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      align-items: center;

      height: 110px;
      padding-bottom: 32px;
    }
  }

  &__logo {
    @media (max-width: 840px) {
      padding-right: 30px;
    }
    @media (max-width: 767px) {
      height: 26px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 691px;
    width: 100%;
    padding-bottom: 3px;

    @media (max-width: 1200px) {
      max-width: 623px;
    }

    @media (max-width: 767px) {
      display: none;
    }

    // отступы
    margin-left: 523px;
    @media (max-width: 1920px) {
      margin-left: 27.2vw;
    }
    @media (max-width: 1440px) {
      margin-left: 24.65vw;
    }
    @media (max-width: 1024px) {
      margin-left: 9.96vw;
    }

    @media (max-width: 840px) {
      margin-left: 0;
    }
  }

  &__nav-list {
  }

  &__nav-list-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__nav-link {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    &:before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #ff5a00;
      border-radius: 3px;
      transition: all 0.1s ease-in-out;
    }

    &:hover {
      &:before {
        height: 2px;
      }
    }
  }
}

.fade-in-hiro-header {
  position: absolute;
  width: 100%;
  height: 0;

  left: 0;
  top: 0;
  background-color: $white-bg;
}

.logo {
}

.burger {
  display: none;

  cursor: pointer;
  position: relative;
  z-index: 65;

  width: 65px;
  height: 48px;
  border-radius: 8px;

  padding: 12px;

  background-color: #fff;

  transition: all 0.1s ease-in-out;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 24px;

    &::before,
    &::after,
    span {
      transition: 0.3s ease-in-out;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;

      left: 0;
      height: 1.6px;

      background-color: $black;

      border-radius: 1px;
    }

    &::before {
      top: 7px;
    }
    &::after {
      bottom: 7px;
    }
  }

  span {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $black;

    border-radius: 1px;
  }

  &._open {
    background-color: #242424;
  }

  &._open &__inner {
    &::before,
    &::after,
    span {
      background-color: #fff;
    }
    span {
      animation: openBurgerSpan 0.3s ease-in-out forwards;
    }
    &::before {
      animation: openBurgerBefore 0.3s ease-in-out forwards;
    }
    &::after {
      animation: openBurgerAfter 0.3s ease-in-out forwards;
    }
  }
  &._close &__inner {
    &::before,
    &::after,
    span {
      background-color: $black;
    }
    span {
      animation: closeBurgerSpan 0.3s ease-in-out backwards;
    }
    &::before {
      animation: closeBurgerBefore 0.3s ease-in-out backwards;
    }
    &::after {
      animation: closeBurgerAfter 0.3s ease-in-out backwards;
    }
  }
}

.burger-nav {
  transform: translateX(-100vh);

  transition: 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &._open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  overflow-y: auto;

  position: fixed;
  z-index: 60;
  left: 0;
  top: 0;
  width: 100%;

  height: 100vh;
  height: 100dvh;

  background-color: $black;

  &__header {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 43px 40px;
    background-color: $black;

    @media (max-width: 600px) {
      padding: 43px 20px;
    }
    img {
      max-width: 151px;
    }
  }
  &__items {
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: 101px;
    margin-right: 65px;
    padding: 0 40px 370px;

    @media (max-width: 600px) {
      justify-content: start;

      padding: 0 20px 200px;
      margin-right: 0;
    }
  }

  &__bg-img {
    position: absolute;
    z-index: -1;
    right: 60px;
    top: 0;

    @media (max-width: 600px) {
      left: 0;
      right: auto;
      top: 36px;

      max-width: 339px;
    }
  }
  &__list {
    li {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__link {
    position: relative;

    font-weight: 600;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    color: #606060;

    padding-right: 44px;

    transition: 0.2s ease-in-out;

    @media (max-width: 600px) {
      font-size: 28px;
    }

    &:hover {
      color: #fff;
      span {
        color: #fff;
      }
    }

    span {
      position: absolute;
      right: 0;
      top: 0;

      font-weight: 400;
      font-size: 16px;
      line-height: 110.00000000000001%;
      letter-spacing: -2%;

      color: #606060;

      transition: 0.2s ease-in-out;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  &__footer {
    text-align: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;

    padding: 0 40px;

    color: #787878;

    margin-bottom: 70px;

    @media (max-width: 600px) {
      text-align: start;

      padding: 0 20px;
    }
  }
}

// BURGER ANIMATE --------------------------------

// open
@keyframes openBurgerBefore {
  0% {
    top: 7px;
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(4px) rotate(45deg);
  }
}

@keyframes openBurgerAfter {
  0% {
    bottom: 7px;
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-4px) rotate(-45deg);
  }
}

@keyframes openBurgerSpan {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
// close
@keyframes closeBurgerBefore {
  0% {
    transform: translateY(4px) rotate(45deg);
  }
  50% {
    transform: translateY(4px) rotate(0);
  }
  100% {
    top: 7px;
  }
}

@keyframes closeBurgerAfter {
  0% {
    transform: translateY(-4px) rotate(-45deg);
  }
  50% {
    transform: translateY(-4px) rotate(0);
  }
  100% {
    bottom: 7px;
  }
}

@keyframes closeBurgerSpan {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
