.pop-up {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 90;

  background-color: rgba($color: #1e1e1e, $alpha: 0.6);

  opacity: 0;
  visibility: 0;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &._active {
    opacity: 1;
    visibility: visible;
  }

  &._active &__inner {
    &::before {
      transform: rotate(-8deg);

      @media (max-width: 600px) {
        transform: rotate(-5deg);
      }
    }
  }

  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 24px;

    width: 440px;
    padding: 60px 20px;

    border-radius: 16px;

    background-color: #fff;

    @media (max-width: 600px) {
      width: 353px;

      padding: 60px 15px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      border-radius: 16px;

      background-color: #b6b6b6;

      transition: transform 0.3s ease-in-out 0.3s;

      @media (max-width: 600px) {
        width: 353px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    background-color: $blue;

    box-shadow: 0px 0px 0px 10px #3253ed26;
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 110.00000000000001%;
    letter-spacing: -2%;

    #color-blue {
      color: $blue;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -2%;

    text-align: center;

    color: #787878;

    max-width: 345px;
  }
}
