html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;

  color: $black;

  background-color: $white-bg;

  a {
    color: inherit;
  }

  &._hidden {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: $black; /* Цвет ползунка */
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #d2d2d2; /* Цвет фона */
  }
}

._container {
  max-width: 1440px;
  padding: 0 40px;

  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header._fixed + main {
  padding-top: 110px;
}
