// SECTION NAME
.section-name {
  position: absolute;
  left: 0;
  top: 12px;
  display: inline-block;

  padding: 10px 16px;
  border: 1px solid $black;
  border-radius: 800px;

  #visible-pc {
    display: inline;
  }
  #visible-mobile {
    display: none;
  }

  @media (max-width: 840px) {
    top: 5px;
    padding: 8px 12px;

    #visible-pc {
      display: none;
    }
    #visible-mobile {
      display: inline;
    }
  }

  @media (max-width: 600px) {
    position: relative;
    margin-bottom: 23px;
  }

  &._h1 {
    top: 24px;

    @media (max-width: 840px) {
      top: 8px;
    }
  }

  &__text {
    display: block;
    position: relative;

    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;

    padding-left: 16px;
    @media (max-width: 840px) {
      font-size: 16px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;

      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 8px;
      height: 8px;
      border-radius: 50%;

      background-color: $black;
    }
  }
}

// SECTION TITLE
.section-title {
  width: 100%;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -2%;

  @media (max-width: 840px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }

  &._h1 {
    font-size: 80px;
    line-height: 110.00000000000001%;

    @media (max-width: 1200px) {
      font-size: 66px;
    }

    @media (max-width: 840px) {
      font-size: 44px;
    }

    @media (max-width: 600px) {
      font-size: 36px;
    }
  }

  & > * {
    font-size: inherit;
    line-height: inherit;
  }

  &__part-1 {
    display: block;
    text-align: start;

    padding-left: $margin-left-default;
    @media (max-width: 1920px) {
      padding-left: $margin-left-1920;
    }
    @media (max-width: 1440px) {
      padding-left: $margin-left-1440;
    }
    @media (max-width: 1024px) {
      padding-left: $margin-left-1024;
    }

    @media (max-width: 840px) {
      padding-left: $margin-left-840;
    }
    @media (max-width: 600px) {
      display: inline;
      padding-left: 0;
    }
  }
  &__part-2 {
    display: block;

    max-width: 1330px;
    @media (max-width: 600px) {
      display: inline;
    }
  }
  #color-blue {
    color: $blue;
  }
  #color-orange {
    color: $orange;
  }
  #color-opacity {
    opacity: 25%;
  }
}

// TITLE BLOCK
.title-block {
  position: relative;
}

// BUTTON

.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  transition: all 0.2s ease-in-out;

  & > * {
    transition: inherit;
  }

  // Стили для отключённой кнопки
  &:disabled {
    pointer-events: none;

    .button__text,
    .button__icon {
      background-color: $black; // Цвет для disabled
    }

    // Полностью убираем эффекты hover
    &._arrow-animate:hover .button__icon img,
    &._download-animate:hover .button__icon img {
      transform: none;
    }
  }

  @media (hover: hover) {
    &:hover &__text,
    &:hover &__icon {
      background-color: $blue-hover;
    }

    &._arrow-animate:hover .button__icon img {
      transform: rotate(-45deg);
    }
    &._download-animate:hover .button__icon img {
      transform: scale(1.1);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;

    height: 52px;

    padding: 0 24px;

    border-radius: 8px;

    color: #fff;
    background-color: $blue;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 52px;

    border-radius: 8px;

    background-color: $blue;

    img {
      transition: 0.1s ease-in-out;
    }
  }
}
