//? processes
.animate-processes-title,
.animate-processes-text,
.animate-processes-button {
  opacity: 0;
  transform: translateY(50px);
}

.animate-services-title-1,
.animate-services-title-2,
.animate-services-title-3 {
  span {
    opacity: 0.25;
  }
}
