//? processes
.animate-processes-title,
.animate-processes-text,
.animate-processes-button {
  opacity: 0;
  transform: translateY(50px);
}

.animate-services-title-1,
.animate-services-title-2,
.animate-services-title-3 {
  span {
    opacity: 0.25;
  }
}

@media (min-width: 1021px) {
  .animate-cpa-data-card-1,
  .animate-cpa-data-card-2,
  .animate-cpa-data-card-3,
  .animate-cpa-data-card-4 {
    transform: translateY(-100%);
  }
}
