// colors
$white-bg: #e7ecf2;

$black: #1e1e1e;
$black-bg: #101010;
$black-bold: #1b1b1b;

$grey: #404040;
$grey-light: #787878;

$blue: #3253ed;
$blue-hover: #1d3c9c;
$orange: #ff5a00;

// margin/padding

$margin-left-default: 575px;
$margin-left-1440: 39.93vw;
$margin-left-1024: 31.34vw;
$margin-left-840: 22.98vw;
